<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Express Render</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./assets/styles/home.css" />
  </head>
  <body>
    <nav style="display: flex;" class="text-black bg-dark">
        <li class="nav-item active text-black">
          <a class="nav-link" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item Active">
          <a class="nav-link" href="/about.html">About</a>
        </li>
    </nav>
    <!-- display foto -->

    <div class="container-fluid container1">
      <div class="main-section text-center profile">
        <div class="row user-detail">
          <div class="col">
            <br />
            <img
              src="https://i.ibb.co/c6DCgpP/26872432-103396660485282-6615342047886835712-n.jpg"
              alt="26872432-103396660485282-6615342047886835712-n"
              class="rounded-circle img-thumbnail"
            />
            <h5>Muhamad Sidiq Ilyas</h5>
            <p>
              Impactbyte Talent
            </p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Jakarta</p>
          </div>
        </div>
      </div>

      <div class="social-media">
        <br />
        <div><h6>Social Media</h6></div>
        <div style="display: flex;">
          <i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-3x fa-twitter" aria-hidden="true"></i>
          <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-3x fa-pinterest" aria-hidden="true"></i>
          <i class="fa fa-3x fa-twitch" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
